<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Course Resource</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/a7e26ec4f2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
              integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <th:block th:insert="~{fragments :: link}"></th:block>

    <th:block th:insert="~{fragments :: head/script}"></th:block>
</head>
<body>
    <div th:replace ="nav_bar :: header_menu">
    </div>
    <div class="container-fluid">
        <div class="text-center">
            <h1>Welcome to course</h1>
        </div>
        <div th:each="Chapter: ${chapter}" style="margin-bottom: 20px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${Chapter.key.name}"></h5>
                    <span class="card-text" th:text="${Chapter.key.description}"></span>
                    <div th:each="Resource: ${Chapter.value}">
                        <a href="${Resource.url}" download>
                            <span class="card-text" th:text="${Resource.url}"></span>
                        </a>
                    </div>
<!--                    <a href="mapmu.jpg" download>link</a>
                    <img src="../../upload/mapmu.jpg" alt=""/>-->
                    <input type="button" class="btn btn-primary" id="addresourcebtn" value="Add Resources">
                    <form th:action="@{/upload_file}" method="post" enctype="multipart/form-data" class="form row">
                        <div class="border border-secondary rounded p-3" id="addresourceform" style="display : none">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Upload resource</label>
                                <div class="col-sm-8">
                                    <input type="file" name="file" size="60" required class="form-control"/>
                                    <input type="hidden" th:value="${Chapter.key.id}" name="chapterId">
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" id="uploadbtn" value="upload" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        let btnadd = document.querySelector('#addresourcebtn');
        btnadd.addEventListener('click', () => {
            document.querySelector('#addresourceform').style.display = 'block';
        });
    </script>
</body>
</html>