<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:replace="fragments :: page_head('Admin home','none')">
    <th:block th:insert="~{fragments :: link}"></th:block>
    <th:block th:insert="~{fragments :: head/script}"></th:block>
</head>
<body>
    <div th:replace ="nav_bar :: header_menu">
    </div>
    <div class="container-fluid">
        <div style="padding-bottom: 47%">
            <h2>Welcome to Openolat Control</h2>
        </div>
    </div>
    <div th:replace ="nav_bar :: footer_menu" style="padding-bottom: 54%">
    </div>
</body>
</html>