<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: page_head('User - Openolat Admin', 'none')">
    <th:block th:insert="~{fragments :: link}"></th:block>

    <th:block th:insert="~{fragments :: head/script}"></th:block>
</head>
<body>
    <div th:replace ="nav_bar :: header_menu">
    </div>  
    <div class="container-fluid" style="padding-bottom: 30%">
        <div class="text-center">
            <h1>Ban Members</h1>
        </div>
        <div th:if="${message != mull}" class="alert alert-success text-center">[[${message}]]</div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
                <tr>
                    <th>Course ID</th>
                    <th>User ID</th>
                    <th>Ban Member</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="member: ${listMembers}">
                    <td>[[${member.courseId}]]</td>
                    <td>[[${member.userId}]]</td>
                    <td>
                        <a th:if="${member.status == true}" class="fal fa-check-circle" th:href="@{'/ban_member/' + ${member.userId} + '/enable/false'}"></a>
                        <a th:if="${member.status == false}" class="fal fa-times-circle" th:href="@{'/ban_member/' + ${member.userId} + '/enable/true'}"></a>
                    </td>

                </tr>

            </tbody>
        </table>

    </div>
    <div class="text-center">
        Total Members : [[${totalItem}]] - Page [[${pageNum}]] of
        [[${totalPage}]] &nbsp;  
        <span
            th:each="i: ${#numbers.sequence(1, totalPage)}"> <a
                th:if="${i != pageNum}" th:href="@{'/ban_member/page/' +${i}}">
                [[${i}]] </a> <span th:unless="${i != pageNum}">[[${i}]] </span>
            &nbsp;&nbsp;
        </span>
    </div> 
    <div th:replace ="nav_bar :: footer_menu">
    </div>
</body>


</html>
