<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
    <head th:replace="fragments :: page_head('Verification Failed','none')"></head>
    <th:block th:insert="~{fragments :: link}"></th:block>

    <th:block th:insert="~{fragments :: head/script}"></th:block>
</head>
<body>
    <div class="container-fuild">

        <div th:replace ="nav_bar :: header_menu">
        </div>

        <div class="text-center">
            <h2>Customer Registration</h2>
            <h4>Invalid code or account already verified</h4>
        </div>
    </div>

    <div th:replace="nav_bar :: footer_menu"></div>

</body>
</html>