<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: page_head('User - Openolat Admin', 'none')">
    <th:block th:insert="~{fragments :: link}"></th:block>

    <th:block th:insert="~{fragments :: head/script}"></th:block>
</head>

<body>
    <div th:replace ="nav_bar :: header_menu">
    </div>
    <div class="container-fluid">
        <div>
            <h2>Manage Users</h2>
            <a th:href="@{/users/new}" class="fas fa-user-plus"></a>
            &nbsp;|
            <a th:href="@{/users/export/csv}">Export to CSV</a>
            <div th:if="${message != mull}" class="alert alert-success text-center">[[${message}]]</div>
            &nbsp;
            <form th:action="@{/users/page/1}" >
                <div class="input-group">
                    <div class="form-outline">
                        <input type="search" name="keyword" class="form-control" />
                    </div>
                    <input type="submit" value="Search" class="btn btn-primary">
                </div>
                &nbsp;
            </form>
            <div>
                <table class="table table-bordered table-striped table-hover table-responsive-xl">
                    <thead class="thead-dark">
                        <tr>
                            <th>UserId</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Create Time</th>
                            <th>Authentication type</th>
                            <th>Enable</th>
                            <th></th>
                        </tr>	
                    </thead>
                    <tbody>
                        <tr th:each="user: ${listUsers}">
                            <td>[[${user.id}]]</td>
                            <td>[[${user.email}]]</td>
                            <td>[[${user.name}]]</td>
                            <td>[[${user.phone}]]</td>
                            <td>[[${user.createTime}]]</td>
                            <td>[[${user.authenticationType}]]</td>

                            <td>
                                <a th:if="${user.status == true}" class="fal fa-check-circle" th:href="@{'/users/' + ${user.id} + '/enable/false'}"></a>
                                <a th:if="${user.status == false}" class="fal fa-times-circle" th:href="@{'/users/' + ${user.id} + '/enable/true'}"></a>

                            </td>
                            <td>
                                <a class="fas fa-user-edit" th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
                                &nbsp; 
                                <a class="fas fa-user-slash link-delete" th:userId="${user.id}" th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center">
        Total User : [[${totalItem}]] - Page [[${pageNum}]] of
        [[${totalPage}]] &nbsp;  
        <span
            th:each="i: ${#numbers.sequence(1, totalPage)}"> <a
                th:if="${i != pageNum}" th:href="@{'/users/page/' +${i}}">
                [[${i}]] </a> <span th:unless="${i != pageNum}">[[${i}]] </span>
            &nbsp;&nbsp;
        </span>
    </div> 
    <div th:replace ="nav_bar :: footer_menu">
    </div>

</body>
</html>