<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
    <th:block th:insert="~{fragments :: link}"></th:block>

    <th:block th:insert="~{fragments :: head/script}"></th:block>
</head>
<body>
    <div th:replace="nav_bar :: header_menu">
    </div>
    <div class="container-fluid">

        <h2>Welcome to Openolat</h2>
        <div th:if="${SUCCESS}">
            <p class="text-danger">[[${SUCCESS}]]</p>
        </div>
        <div th:if="${ERROR}">
            <p class="text-danger">[[${ERROR}]]</p>
        </div>
        <!-- 		Welcome <a th:href="@{/account}" sec:authentication="principal.username"></a>
            <span sec:authentication="principal.authorities"></span> -->
    </div>
    <div th:replace ="nav_bar :: footer_menu">
    </div>
</body>
</html>