<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">	
    <head>
    <th:block th:insert="~{fragments :: link}"></th:block>

    <th:block th:insert="~{fragments :: head/script}"></th:block>
    </head>
    <body>

        <div th:replace ="nav_bar :: header_menu">
        </div>

        <div class="container-fuild">

            <div class="text-center">
                <h2>Create New Quiz & Assign to Exams</h2>
            </div>
            <div>&nbsp;</div>
            <div th:if="${message != mull}" class="alert alert-success text-center">[[${message}]]</div>
            &nbsp;
            <form th:action="@{/create_question}" method="post" th:object="${question}"  style="max-width: 600px; margin: 0 auto">

                <input type="hidden" name="questionID" th:value="${question.id}">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Select Exam: </label>
                    <div class="col-sm-8">
                        <select name="optExam">
                            <option value="">Choose your option</option>
                            <optgroup th:each="course : ${courses}"
                                      th:label="${course.name}">
                                <option th:each="exam : ${course.exams}" 
                                        th:value="${exam.id}"
                                        th:utext="${exam.name}"/>
                            </optgroup>
                        </select>
                    </div>
                </div>	
                &nbsp;


                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Question: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="txtquestion" required="required">
                    </div>
                </div>	
                &nbsp;


                <div class="form-group row">
                    <label >Set Your Answer here and select the correct option </label>

                </div>	
                &nbsp;
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Answer 1: </label>
                    <div class="col-sm-8">
                        <input type="text"  class="form-control" name="answer1" required="required">
                        <input type="radio" name="correct" value="1" required="required"> Is Correct
                    </div>
                </div>	
                &nbsp;
                &nbsp;
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Answer 2: </label>
                    <div class="col-sm-8">
                        <input type="text"  class="form-control" name="answer2" required="required">
                        <input type="radio" name="correct" value="2" required="required"> Is Correct
                    </div>
                </div>	
                &nbsp;
                &nbsp;
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Answer 3: </label>
                    <div class="col-sm-8">
                        <input type="text"  class="form-control" name="answer3" required="required">
                        <input type="radio" name="correct" value="3" required="required"> Is Correct
                    </div>
                </div>	
                &nbsp;
                &nbsp;
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Answer 4: </label>
                    <div class="col-sm-8">
                        <input type="text"  class="form-control" name="answer4" required="required">
                        <input type="radio" name="correct" value="4" required="required"> Is Correct
                    </div>
                </div>	
                &nbsp;
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Is Active: </label>
                    <div class="col-sm-8">
                        <input type="radio" name="active" value="true" required="required">Yes
                        <input type="radio" name="active" value="false"  required="required">No
                    </div>
                </div>	

                &nbsp;
                <div class="text-center">
                    <input type="submit" name="submit" value="Create Quiz" class="btn btn-primary ">
                </div>
            </form>

        </div>	
        &nbsp;
    </script>
    <div th:replace ="nav_bar :: footer_menu">
    </div>
</body>
</html>
